/* .nav-link{
    margin: 5px 20px 5px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
/* .nav-link:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: rgb(42, 42, 232) !important;
    
} */
/* .first{
    background-color: #003481 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}  */